body{
    font-family:'Inter', sans-serif;
    background:#070B34;
    color:white;
    overflow-x:hidden;
}

a{
    text-decoration:none;
}

.text-gradient{
    background:linear-gradient(
        90deg,
        #ff4d8d,
        #ff9b54
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.btn-gradient{
    background:linear-gradient(
        90deg,
        #ff4d8d,
        #ff9b54
    );

    border:none;
    color:white;
    padding:14px 28px;
    border-radius:12px;
    font-weight:600;
}

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    position:relative;
    overflow:hidden;
}

.circle-bg{
    width:520px;
    height:520px;
    border-radius:50%;

    background:linear-gradient(
        180deg,
        #ffb36b,
        #ff4d8d
    );

    position:absolute;
    right:-120px;
    top:50%;
    transform:translateY(-50%);
    z-index:0;
}

.profile-img{
    position:relative;
    z-index:2;
    max-width:370px;
}

.social-icons{
    position:absolute;
    right:0;
    top:50%;
    transform:translateY(-50%);
    z-index:5;
}

.social-icons a{
    width:45px;
    height:45px;
    border-radius:50%;
    background:white;
    color:#111827;

    display:flex;
    align-items:center;
    justify-content:center;

    margin-bottom:15px;

    font-weight:700;
}

.nav-link {
    cursor: pointer;
}